<html>
    <head>
        <title>Public/index</title>
        <link rel="stylesheet" type = "text/css" href = 'Styles/styles.css'>
    </head>
<body>
        <div id="container">        
            <div id="top-menu">
                <%- include ("./partials/menu") %></div>
            <div id="header">Header</div>
            <div id="status_bar">Status_bar</div>
            <div id="content">
                <div id ="User_list">List Of Users:
                    <table>
                        <tr><td>User ID</td><td>User Name</td><td>User Created Date</td></tr>
                        <% data.forEach(entry => { %>
                        <tr>
                            <td><%= entry.user_id %></td>
                            <td><%= entry.user_name %></td>
                            <td><%= entry.user_create_date %></td>
                            <td><a href="../articles/edit_user/<%= entry.user_id %>">EDIT</a></td>                                        
                        </tr>
                        <% }) %>
                    </table>
                </div>        
            </div>
            <div id = "footer">
                <%- include ("./partials/footer") %></div>
            <div>
     </body>
</html>